/* This file merges multiple Vencord themes into a single manageable file */

/* Compact / Hide Visual Refresh Title Bar */
/* @import url('https://raw.githubusercontent.com/surgedevs/visual-refresh-compact-title-bar/refs/heads/main/desktop.css'); */

/* Revert Visual Refresh Server List */
@import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css");

/* Horizontal Server List */
@import url("https://raw.githubusercontent.com/DiscordStyles/HorizontalServerList/deploy/HorizontalServerList.theme.css");

/* Discord Recolor */
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css");

/* EmojiReplace (Microsoft-3D) */
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Google.css");

/* Discolored */
@import url("https://nyri4.github.io/Discolored/support/discolored.theme.css");

/* Settings Modal */
@import url("https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/refs/heads/master/Themes/SettingsModal/SettingsModal.theme.css");

/* Float */
@import url("https://raw.githubusercontent.com/maenDisease/BetterDiscordStuff/refs/heads/main/Themes/Float/zFloat.theme.css");

/* Discord Recolor (Red Variables) */
:root {
	--settingsicons:	1;
	
	--accentcolor:		255,0,0;
	--accentcolor2:		255,50,50;
	--linkcolor:		255,0,0;
	--mentioncolor:		255,0,0;

	--backgroundaccent:		36,36,36;
	--backgroundprimary:		14,12,12;
	--backgroundsecondary:		9,7,7;
	--backgroundsecondaryalt:	2,2,2;
	--backgroundtertiary:		0,0,0;
	--backgroundfloating:		0,0,0;

	--guildbar-avatar-size:		44px;
    	--blob-scale:			44;

    	--guildbar-folder-size:		var(--guildbar-avatar-size);
    	--folder-blob-scale:		var(--blob-scale);
};
