/* Revert Visual Refresh Server List */
/* @import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css"); */

/* Discord Recolor */
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css");

/* EmojiReplace (Google) */
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Google.css");

/* Discord Recolor (Red Variables) */
:root {
	--settingsicons:	1;
	
	--accentcolor:		255,0,0;
	--accentcolor2:		255,0,0;
	--linkcolor:		255,0,0;
	--mentioncolor:		255,0,0;

	--backgroundaccent:		36,36,36;
	--backgroundprimary:		14,12,12;
	--backgroundsecondary:		9,7,7;
	--backgroundsecondaryalt:	2,2,2;
	--backgroundtertiary:		0,0,0;
	--backgroundfloating:		0,0,0;

	--guildbar-avatar-size:		44px;
    	--blob-scale:			44;

    	--guildbar-folder-size:		var(--guildbar-avatar-size);
    	--folder-blob-scale:		var(--blob-scale);
};
